{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embaixadores do Rei</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">

</head>

<body>

    <header class="cabecalho">
        <img class="cabecalho__escudo" src="{% static 'assets/image/escudo.png' %}" alt="">
        <h1 class="cabecalho__titulo">Embaixada Guilherme Carey</h1>
    </header>

    <main class="principal">
        <h2 class="chamada">Chamada</h2>
        <section class="numeroDeReunioes">
            <p class="numeroDeReunioes__text">Número de reuniões: </p>
            <p class="numeroDeReunioes__number">0</p>
        </section>
        <h3 class="lista">Lista</h3>
        <ul class="listaDePresenca">
            <li class="listaDePresenca__item">
                <p class="listaDePresenca__nome">Nome</p>
                <p class="listaDePresenca__numeroPresenca">Presença</p>
            </li>
            <li class="listaDePresenca__item">
                <p class="listaDePresenca__garoto">Lucas Alfeu da Silva Oliveira</p>
                <p class="listaDePresenca__presenca">5</p>
            </li>
            <li class="listaDePresenca__item">
                <p class="listaDePresenca__garoto">Lucas Alfeu da Silva Oliveira</p>
                <p class="listaDePresenca__presenca">5</p>
            </li>
            <li class="listaDePresenca__item">
                <p class="listaDePresenca__garoto">Lucas Alfeu da Silva Oliveira</p>
                <p class="listaDePresenca__presenca">5</p>
            </li>
            <li class="listaDePresenca__item">
                <p class="listaDePresenca__garoto">Lucas Alfeu da Silva Oliveira</p>
                <p class="listaDePresenca__presenca">5</p>
            </li>
            <li class="listaDePresenca__item">
                <p class="listaDePresenca__garoto">Lucas Alfeu da Silva Oliveira</p>
                <p class="listaDePresenca__presenca">5</p>
            </li>
            <li class="listaDePresenca__item">
                <p class="listaDePresenca__garoto">Lucas Alfeu da Silva Oliveira</p>
                <p class="listaDePresenca__presenca">5</p>
            </li>
            <li class="listaDePresenca__item">
                <p class="listaDePresenca__garoto">Lucas Alfeu da Silva Oliveira</p>
                <p class="listaDePresenca__presenca">5</p>
            </li>
            <li class="listaDePresenca__item">
                <p class="listaDePresenca__garoto">Lucas Alfeu da Silva Oliveira</p>
                <p class="listaDePresenca__presenca">5</p>
            </li>
            <li class="listaDePresenca__item">
                <p class="listaDePresenca__garoto">Lucas Alfeu da Silva Oliveira</p>
                <p class="listaDePresenca__presenca">5</p>
            </li>
            <li class="listaDePresenca__item">
                <p class="listaDePresenca__garoto">Lucas Alfeu da Silva Oliveira</p>
                <p class="listaDePresenca__presenca">5</p>
            </li>
            <li class="listaDePresenca__item">
                <p class="listaDePresenca__garoto">Lucas Alfeu da Silva Oliveira</p>
                <p class="listaDePresenca__presenca">5</p>
            </li>
            <li class="listaDePresenca__item">
                <p class="listaDePresenca__garoto">Lucas Alfeu da Silva Oliveira</p>
                <p class="listaDePresenca__presenca">5</p>
            </li>
            <li class="listaDePresenca__item">
                <p class="listaDePresenca__garoto">Lucas Alfeu da Silva Oliveira</p>
                <p class="listaDePresenca__presenca">5</p>
            </li>
            <li class="listaDePresenca__item">
                <p class="listaDePresenca__garoto">Lucas Alfeu da Silva Oliveira</p>
                <p class="listaDePresenca__presenca">5</p>
            </li>
        </ul>
    </main>
    <footer class="footer">
        <p class="footer__text">Somos Embaixadores por Cristo</p>
    </footer>
</body>

</html>